<!-------------------------------TOP BAR------------------------------------->
<div class="topbar" id="topbar">
    <div class="topbar__logo"><img src="../../../assets/img/logo (1).png" alt="" class="logo"></div>
    <ul class="menu" id="menu">
        <li class="menu__item">
            <a href="#" class="menu__link active">TRANG CHỦ</a>
        </li>
        <li class="menu__item">
            <a href="#" class="menu__link">NHẬN NUÔI</a>
        </li>
        <li class="menu__item">
            <a href="#" class="menu__link">ỦNG HỘ</a>
        </li>
        <li class="menu__item">
            <a href="#" class="menu__link">TÌNH NGUYỆN VIÊN</a>
        </li>
        <li class="menu__item">
            <a href="#" class="menu__link">TIN TỨC</a>
        </li>
        <li class="menu__item">
            <a href="#" class="menu__link">SẢN PHẨM</a>
        </li>
        <li class="menu__item">
            <a href="#" class="menu__link">LIÊN HỆ</a>
        </li>
        <li class="menu__item account">
            <a routerLink="/login" class="menu__link"><i class="far fa-user"></i> TÀI KHOẢN</a>
        </li>
    </ul>
</div>
<!-------------------------------End TOP BAR------------------------------------->