$topbarcolor:rgb(30, 49, 32);
$primarycolor:#E7A844;
$bglogin:#f2f2f2;
$errcolor:#ff6364;
$gray:#d9d9d9;
$successcolor:#28A745;
$menuadmincolor:#253544;
$bggray:#f2f2f2;
$blue:#17A2B8;
$red:#DC3545;
$bluebtn:#2184be;
$textgray:#8c8c8c;
$pink:#cc0052;