<section class="footer">
    <div class="footer__box">
        <h3 class="footer__name">Pet <span class="yellow">Rescue</span></h3>

        <p class="footer__desc">
            Nhóm trẻ tình nguyện viên Việt Nam và quốc tế, hoạt động vì tình yêu chó mèo, cưu mang và chăm sóc các con vật bị bỏ rơi.
        </p>

        <p class="footer__follow-title"><span class="yellow">Follow Us</span></p>

        <ul class="footer__follow-list">
            <li class="footer-item"><a href="#" class="footer-link"><i class="fab fa-facebook-f"></i></a></li>
            <li class="footer-item"><a href="#" class="footer-link"><i class="fab fa-instagram"></i></a></li>
            <li class="footer-item"><a href="#" class="footer-link"><i class="fab fa-skype"></i></a></li>
            <li class="footer-item"><a href="#" class="footer-link"><i class="fab fa-twitter"></i></a></li>
        </ul>
    </div>

    <div class="footer__box">
        <h3 class="footer__box-title">Contact</h3>

        <ul class="footer__contact">
            <li class="footer__contact-item"><span class="icon-contact"><i class="fas fa-map-marker-alt"></i></span> 3/2 Street, Hung Loi, Ninh Kieu, Can Tho
            </li>
            <li class="footer__contact-item"><span class="icon-contact"><i class="fas fa-phone-alt"></i></span> (+84) 375325717
            </li>
            <li class="footer__contact-item"><span class="icon-contact"><i class="far fa-envelope"></i></span> petcarelv@gmail.com
            </li>
        </ul>
    </div>

    <div class="footer__box">
        <h3 class="footer__box-title">Categories</h3>

        <ul class="footer__category">
            <li class="footer__category-item"><a href="" class="footer__category-link">Nhận nuôi</a></li>
            <li class="footer__category-item"><a href="" class="footer__category-link">Ủng hộ</a></li>
            <li class="footer__category-item"><a href="" class="footer__category-link">Tình nguyện viên</a></li>
        </ul>
    </div>

    <div class="footer__box">
        <h3 class="footer__box-title">Other</h3>

        <ul class="footer__category">
            <li class="footer__category-item"><a href="" class="footer__category-link">Tin tức</a></li>
            <li class="footer__category-item"><a href="" class="footer__category-link">Diễn đàn</a></li>
            <li class="footer__category-item"><a href="" class="footer__category-link">Sản phẩm</a></li>
        </ul>
    </div>
</section>