<section class="home">
    <app-topbar></app-topbar>
    <app-header></app-header>
    <!-----------------------------------MAIN---------------------------------------------->
    <app-content></app-content>
    <!-----------------------------------END MAINT------------------------------------------>
    <app-footer></app-footer>
</section>

<div class="loader">
    <div class="loader__wrapper">
        <p class="loader__text">Pet <span class="yellow">Rescue</span></p>
        <span class="loader-icon">
        <img src="../../../assets/img/Gear-0.2s-64px.gif" alt="">
    </span>
    </div>
</div>
<router-outlet></router-outlet>