@import "../../../helpers/mixins/mixins";
@import "../../../helpers/color/color";
@import "../../../helpers/variables/variables";
//---------CONTACT-----------//
.contact {
    padding: 0 4rem;
    width: 100%;
    background-color: $primarycolor;
    font-family: $menufont;
    @include flex($justify: space-between, $wrap: wrap);
    &__menu {
        @include flex();
    }
    .item {
        margin: 0 1rem;
        color: black;
        line-height: 3rem;
    }
    .icon {
        margin-right: 1rem;
    }
    &__link {
        color: black;
        display: block;
        line-height: 3rem;
        transition: .3s ease-in-out;
        font-size: 1rem;
        font-weight: 700;
        cursor: pointer;
        &:hover {
            color: white;
        }
        i {
            margin-right: 0.5rem;
        }
    }
}