<app-header></app-header>
<div class="tnv">
    <!----------------------------HEADING--------------------------->
    <div class="heading">
        <div class="heading__wrapper">
            <h3 class="heading__title">TÌNH NGUYỆN VIÊN</h3>
        </div>
    </div>
    <!---------------------------End HEADING-------------------------->
    <!---------------------------INTRO------------------------------->
    <div class="intro">
        <div class="container">
            <h3 class="intro__title">TÌNH NGUYỆN VIÊN CỨU HỘ</h3>

            <div class="intro__border"><img src="../../../assets/img/pattern3.png" alt="" class="img-border"></div>

            <p class="intro__content">
                Hoạt động cứu hộ của Pet Rescue chỉ có thể thành công nhờ sự chung sức từ cộng đồng và các Tình nguyện viên. Có nhiều cách để bạn đóng góp phần của mình để thay đổi cuộc sống của một chú chó hay mèo: trở thành Người chăm sóc tạm thời (Foster), Tình nguyện
                tại nhà chung hay Tình nguyện viên cứu hộ. Hãy tham khảo thêm thông tin bên dưới.
            </p>

            <div class="intro__img">
                <img src="../../../assets/img/pets_big.png" alt="" class="img-intro">
            </div>
        </div>
    </div>
    <!-------------------------End INTRO------------------------------>

    <!----------------------------------------------INFO--------------------------------------------------->
    <div class="info">
        <h3 class="info__heading">NHÓM TÌNH NGUYỆN</h3>

        <div class="info__border-img"><img src="../../../assets/img/pattern3.png" alt="" class="img-border"></div>

        <div class="info__item">
            <div class="info__item-left group1">
                <img src="../../../assets/img/gallery1.jpg" alt="" class="img-info">
            </div>
            <div class="info__item-right">
                <h3 class="info__title">FOSTER</h3>

                <p class="info__text">
                    Foster là người giúp nhóm chăm sóc tạm thời trong thời gian các bé chưa tìm được chủ. Đây có thể là các bé khỏe mạnh hoặc cần chăm sóc đặc biệt hơn. Nếu bạn không thể nhận nuôi, hãy mở cửa để cho các bé một mái ấm tạm thời, giúp các bé khỏe mạnh hơn,
                    ngoan ngoãn hơn cũng như tận hưởng tình thương từ một người yêu động vật, đồng thời giúp chúng tôi giảm tải khối lượng công việc.
                </p>

                <div class="info__box">
                    <h3 class="info__box-title">ĐIỀU KIỆN</h3>
                    <ul class="info__list">
                        <li class="info__list-tem">
                            <span class="icon"><i class="fas fa-paw"></i></span>
                            <span class="info__list-text">
                                Người nhận nuôi tạm thời (Foster) chịu trách nhiệm cung cấp nơi ở, thức ăn, nước uống, các vật dụng cần thiết và tình thương cho bé.
                            </span>
                        </li>
                        <li class="info__list-tem">
                            <span class="icon"><i class="fas fa-paw"></i></span>
                            <span class="info__list-text">  
                                Trong trường hợp cần thiết, foster đảm nhận việc theo dõi quá trình chữa trị cho bé, đảm bảo chế độ ăn theo yêu cầu và giúp huấn luyện bé. Mọi chi phí y tế sẽ do Pet Rescue chi trả. Foster có thể đóng góp vào chi phí này nhưng không bắt buộc.
                            </span>
                        </li>
                        <li class="info__list-tem">
                            <span class="icon"><i class="fas fa-paw"></i></span>
                            <span class="info__list-text">
                                Foster cần thông báo ngay cho người phụ trách bé nếu có bất cứ phát sinh gì xảy ra: ốm đau, biểu hiện lạ, hành vi khác thường
                            </span>
                        </li>
                        <li class="info__list-tem">
                            <span class="icon"><i class="fas fa-paw"></i></span>
                            <span class="info__list-text">
                                Không tự ý chuyển động vật mà tôi nhận chăm sóc tạm thời sang người khác chăm sóc hoặc nhận nuôi nếu không có sự đồng ý từ nhóm HPA.
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="info__border"></div>

        <div class="info__item">

            <div class="info__item-right">
                <h3 class="info__title">Dọn Dẹp Nhà Chung</h3>

                <p class="info__text">
                    Các bé chó mèo sau khi được cứu hộ và đã ổn định sẽ được chuyển về nhà chung trong quá trình chờ tìm chủ/foster. Các bé cần người giúp cho ăn uống đúng chế độ, dọn dẹp và chăm sóc y tế nếu cần. Tình nguyện viên nhà chung đảm nhận khối lượng công việc
                    lớn khi phải quản lý khoảng 70 bé mèo và hơn 10 bé chó. Công việc này cần tính kiên nhẫn, cẩn thận, trách nhiệm cao và có tình thương với chó mèo. Tình nguyện viên có thể đăng ký giúp theo buổi lẻ. Với những người có thể làm cố định
                    theo ca và làm 5 ngày mỗi tuần có thể được nhận trợ cấp công việc.
                </p>

                <div class="info__box">
                    <ul class="info__list">
                        <li class="info__list-tem">
                            <span class="icon"><i class="fas fa-paw"></i></span>
                            <span class="info__list-text">
                                Tuổi 20+.
                            </span>
                        </li>
                        <li class="info__list-tem">
                            <span class="icon"><i class="fas fa-paw"></i></span>
                            <span class="info__list-text">   
                                Có kinh nghiệm nuôi chó/mèo
                            </span>
                        </li>
                        <li class="info__list-tem">
                            <span class="icon"><i class="fas fa-paw"></i></span>
                            <span class="info__list-text">
                                Chăm chỉ, sạch sẽ và có trách nhiệm.
                            </span>
                        </li>
                        <li class="info__list-tem">
                            <span class="icon"><i class="fas fa-paw"></i></span>
                            <span class="info__list-text">
                                Đảm bảo được thời gian đến nhà chung
                            </span>
                        </li>
                        <li class="info__list-tem">
                            <span class="icon"><i class="fas fa-paw"></i></span>
                            <span class="info__list-text"> 
                                Đảm bảo giữ bí mật địa chỉ nhà chung để tránh những thành phần xấu và chủ nuôi vô trách nhiệm đến vứt bỏ các bé.
                            </span>
                        </li>
                        <li class="info__list-tem">
                            <span class="icon"><i class="fas fa-paw"></i></span>
                            <span class="info__list-text">
                                Không ngại bẩn khi dọn vệ sinh, không sợ mùi
                            </span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="info__item-left group2">
                <img src="../../../assets/img/gallery2.jpg" alt="" class="img-info">
            </div>
        </div>

        <div class="info__border"></div>

        <div class="info__item">
            <div class="info__item-left group3">
                <img src="../../../assets/img/gallery3.jpg" alt="" class="img-info">
            </div>
            <div class="info__item-right">
                <h3 class="info__title">Cứu hộ</h3>

                <p class="info__text">
                    Khi một bé chó hay mèo gặp nạn, cần cứu các bé càng sớm càng tốt để tránh trường hợp các bé lang thang gặp kẻ xấu hoặc bị xe tông. Vì thế, Tình nguyện viên cứu hộ đóng vai trò quan trọng trong việc các bé có sống sót và được giải cứu kịp thời hay không.
                    Công việc này đòi hỏi việc di chuyển bất ngờ, thậm chí vào đêm khuya hay ngày nghỉ, có thể phải đi xa. Ngoài ra, Tình nguyện viên cũng cần được trang bị kiến thức để bảo đảm an toàn cho bản thân khi cứu hộ.
                </p>

                <div class="info__box">
                    <ul class="info__list">
                        <li class="info__list-tem">
                            <span class="icon"><i class="fas fa-paw"></i></span>
                            <span class="info__list-text">
                                Tuổi 20+
                            </span>
                        </li>
                        <li class="info__list-tem">
                            <span class="icon"><i class="fas fa-paw"></i></span>
                            <span class="info__list-text">  
                                
                                Có kinh nghiệm với chó/mèo
                            </span>
                        </li>
                        <li class="info__list-tem">
                            <span class="icon"><i class="fas fa-paw"></i></span>
                            <span class="info__list-text">
                                Có khả năng tiếp cận hiện trường trong các khung giờ linh hoạt
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="info__border"></div>

        <div class="info__item last">

            <div class="info__item-right">
                <h3 class="info__title">Vận Chuyển</h3>

                <p class="info__text">
                    Ngoài các tình huống cứu hộ, Hanoi Pet Adoption còn cần các bạn giúp vận chuyển chó/mèo từ nhà chung tới bệnh viện, nhà foster hoặc chủ nuôi v.v... Hoặc nhận đồ quyên góp cho Nhóm và chuyển về nhà chung.
                </p>

                <div class="info__box">
                    <ul class="info__list">
                        <li class="info__list-tem">
                            <span class="icon"><i class="fas fa-paw"></i></span>
                            <span class="info__list-text">
                                Tuổi 20+
                            </span>
                        </li>
                        <li class="info__list-tem">
                            <span class="icon"><i class="fas fa-paw"></i></span>
                            <span class="info__list-text">  
                                
                                Có phương tiện di chuyển riêng và có tinh thần trách nhiệm
                            </span>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="info__item-left group4">
                <img src="../../../assets/img/gallery5.jpg" alt="" class="img-info">
            </div>
        </div>

    </div>
    <!-------------------------------------------------End INFO----------------------------------------------->

    <!----------------------------------------------------REGIS---------------------------------------------------->
    <div class="regis">
        <div class="container">
            <div class="regis__content">
                <h3 class="regis__title">ĐĂNG KÝ <span class="yellow">TÌNH NGUYỆN VIÊN</span></h3>

                <div class="regis__wrapper">
                    <form class="regis__form" [formGroup]="regisForm">
                        <div class="form-box">
                            <div class="form-item">
                                <span class="form-title">Họ tên</span>
                                <input type="text" placeholder="Họ tên" formControlName="ten" class="regis__input">
                            </div>

                            <div class="regis__error" *ngIf="submitRegis&&formControlRegis.ten.errors">
                                <p class="err" *ngIf="formControlRegis.ten.errors">Vui lòng nhập họ tên!</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-box">
                                <div class="form-item">
                                    <span class="form-title">Độ tuổi</span>
                                    <input type="text" placeholder="Độ tuổi" formControlName="dotuoi" class="regis__input">
                                </div>

                                <div class="regis__error" *ngIf="submitRegis&&formControlRegis.dotuoi.errors">
                                    <p class="err" *ngIf="formControlRegis.dotuoi.errors">Vui lòng nhập độ tuổi!</p>
                                </div>
                            </div>

                            <div class="form-box">
                                <div class="form-item">
                                    <span class="form-title">Số điện thoại</span>
                                    <input type="text" placeholder="Số điện thoại" formControlName="sodienthoai" class="regis__input">
                                </div>

                                <div class="regis__error" *ngIf="submitRegis&&formControlRegis.sodienthoai.errors">
                                    <p class="err" *ngIf="formControlRegis.sodienthoai.errors">Vui lòng nhập số điện thoại!</p>
                                </div>
                            </div>
                        </div>

                        <div class="form-box">
                            <div class="form-item">
                                <span class="form-title">Địa chỉ</span>
                                <input type="text" placeholder="Địa chỉ" formControlName="diachi" class="regis__input">
                            </div>
                        </div>

                        <div class="form-box">
                            <div class="form-item">
                                <span class="form-title">Kinh nghiệm</span>
                                <textarea placeholder="Chia sẻ về kinh nghiệm nuôi chó/mèo của bạn" rows="10" formControlName="kinhnghiem" class="regis__input"></textarea>

                            </div>

                            <div class="regis__error" *ngIf="submitRegis&&formControlRegis.kinhnghiem.errors">
                                <p class="err" *ngIf="formControlRegis.kinhnghiem.errors">Vui lòng Nhập Kinh nghiệm nuôi chó/mèo của bạn!</p>
                            </div>
                        </div>

                        <div class="form-box">
                            <div class="select-box">
                                <span class="select-icon"><i class="fas fa-sort-down"></i></span>

                                <select class="regis__select" formControlName="group">
                                    <option value="">- Chọn nhóm tình nguyện -</option>
                                    <option *ngFor="let group of group" [value]="group._id">{{group.tennhom}}</option>
                                </select>
                            </div>

                            <div class="regis__error" *ngIf="submitRegis&&formControlRegis.group.errors">
                                <p class="err" *ngIf="formControlRegis.group.errors">Vui lòng chọn nhóm tình nguyện!</p>
                            </div>
                        </div>

                        <button class="regis__btn" type="submit" (click)="Regis()">ĐĂNG KÝ</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!---------------------------------------------------End REGIS--------------------------------------------------->

    <!-----------------------------------------------------------LIST TINH NGUYEN VIEN--------------------------------------->
    <div class="list-tnv">
        <div class="container">
            <h3 class="list-tnv__title">DANH SÁCH TÌNH NGUYỆN VIÊN</h3>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Họ tên</th>
                        <th scope="col">Địa chỉ</th>
                        <th scope="col">Số điện thoại</th>
                        <th scope="col">Tuổi</th>
                        <th scope="col">Group</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let danhmuc of danhmuc|paginate: { itemsPerPage: 10, currentPage: p };index as i">
                        <th scope="row">{{i+1}}</th>
                        <td>{{danhmuc.hoten}}</td>
                        <td>{{danhmuc.diachi}}</td>
                        <td>{{danhmuc.sodienthoai}}</td>
                        <td>{{danhmuc.dotuoi}}</td>
                        <td>
                            <ng-container *ngFor="let group of group">
                                <span *ngIf="group._id==danhmuc.group">{{group.tennhom}}</span>
                            </ng-container>
                        </td>
                    </tr>
                </tbody>
            </table>

            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
    <!----------------------------------------------------------End LIST TINH NGUYEN VIEN------------------------------------>

    <!-------------------------------------------EVENT-------------------------------------------->
    <div class="event">
        <div class="container">
            <h3 class="event__heading">SỰ KIỆN SẮP DIỄN RA</h3>
            <div class="event__wrapper">
                <div class="event__box" *ngFor="let event of event" (click)="clickDetails(event._id)">
                    <div class="event__img">
                        <img src="{{event.hinhanh}}" alt="event Img" class="img">
                    </div>

                    <div class="event__box-content">
                        <div class="main">
                            <div class="main__left">
                                <div class="main__start">
                                    <span class="day">{{event.ngaybatdau|date:"dd"}}</span>
                                    <span class="month">{{event.ngaybatdau|date:"MMM"}}</span>
                                </div>
                            </div>
                            <div class="main__right">
                                <h5 class="main__name">{{event.ten}}</h5>
                                <p class="main__date">
                                    <span class="icon"><i class="far fa-calendar-alt"></i></span>
                                    <span class="main__text">{{event.ngaybatdau|date:'dd/MM/yyyy'}} - {{event.ngaybatdau|date:'dd/MM/yyyy'}}</span>
                                </p>
                                <p class="main__location">
                                    <span class="icon"><i class="fas fa-map-marker-alt"></i></span>
                                    <span class="main__text">{{event.diadiem}}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!------------------------------------------End EVENT----------------------------------------->

    <div class="manage__popup" id="popup">
        <div class="manage__popup-container">
            <!--------------------------------CONFIRM POP UP---------------------------->
            <div class="manage__popup-content popup-content confirm" *ngIf="is_confirm">
                <span class="manage__popup-exit" (click)="exitPopup()"><i class="fas fa-times"></i></span>

                <div class="manage__popup-icon"><i class="far fa-times-circle"></i></div>

                <div class="manage__popup-title">Are you sure?</div>

                <div class="manage__popup-text">Do you really want to delete. This process cannot be undone.</div>

                <div class="manage__popup-btn-group">
                    <button class="btn-popup popup-btn-delete" (click)="deleteDanhmuc()">Delete</button>
                    <button class="btn-popup popup-btn-cancle" (click)="exitPopup()">Cancle</button>
                </div>
            </div>
            <!-----------------------------------END CONFIRM POPUP----------------------------->

            <!-----------------------------------SUCCESS POPUP----------------------------------->
            <div class="manage__popup-content popup-content popup-success" *ngIf="is_success">
                <span class="manage__popup-exit" (click)="exitPopup()"><i class="fas fa-times"></i></span>

                <div class="manage__popup-icon icon-success"><i class="far fa-check-circle"></i></div>

                <div class="manage__popup-title">SUCCESS</div>

                <div class="manage__popup-text">
                    <span class="success" *ngIf="is_success_add">Đăng ký thành công. Trung tâm chúng tôi sẽ sớm liên hệ với bạn</span>
                </div>

                <div class="manage__popup-btn-success">
                    <button class="btn-popup popup-btn-success" (click)="okclick()">OK</button>
                </div>
            </div>
            <!------------------------------------END SUCCESS POPUP--------------------------------->
        </div>
    </div>
</div>
<app-footer></app-footer>