%btn {
    padding: 0.8rem 1.5rem;
    font-weight: 900;
    border: none;
    outline: none;
}

%title {
    line-height: 3rem;
    font-weight: 900;
    letter-spacing: 2px;
}

%background {
    background-size: cover;
    background-repeat: no-repeat;
}