<section class="manage">
    <div class="manage__top">
        <h3 class="manage__title">Quản lý Ủng Hộ</h3>

        <div class="manage__nav">
            <a routerLink="/admin" class="navig-link"><i class="fas fa-home icon"></i>Home</a>

            <span>/</span>

            <span class="navig-link active">Ủng hộ</span>
        </div>
        <!-------------------------------------------LIST GIONG-------------------------------------------->
        <div class="manage__content">
            <div class="list-giong" *ngIf="!is_add && !is_edit">
                <div class="manage__content-top">
                    <h3 class="manage__content-title">DANH SÁCH ỦNG HỘ</h3>

                    <button class="btn" (click)="clickshowAdd()">THÊM ỦNG HỘ</button>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">STT</th>
                            <th scope="col">Họ tên người ủng hộ</th>
                            <th scope="col">Ngày ủng hộ</th>
                            <th scope="col">Hình thức ủng hộ</th>
                            <th scope="col">Số tiền</th>
                            <th scope="col">Mô tả</th>
                            <th scope="col">Manage</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let ungho of ungho;index as i">

                            <th scope="row">{{i+1}}</th>
                            <td>{{ungho.hoten}}</td>
                            <td>{{ungho.ngay|date}}</td>

                            <td>
                                <ng-container *ngFor="let hinhthuc of hinhthuc">
                                    <ng-container *ngIf="ungho.hinhthuc==hinhthuc._id">
                                        {{hinhthuc.htuh_ten}}
                                    </ng-container>
                                </ng-container>
                            </td>
                            <td>{{ungho.sotien}}</td>
                            <td>{{ungho.mota}}</td>
                            <td>
                                <span class="icon-manage" *ngIf="ungho.hinhthuc!='5f928f516e3e313624cf80ea'">
                                <button class="manage__link edit" (click)="clickeditUngho(ungho._id)"><i class="fas fa-edit"></i></button>
                                <button class="manage__link delete" (click)="clickDeleteUngho(ungho._id)"><i class="far fa-trash-alt"></i></button>
                                </span>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
            <!----------------------------------------------END LIST UNG HO------------------------------------------------->

            <!----------------------------------------------ADD UNG HO---------------------------------------------------->
            <div class="add-ungho" *ngIf="is_add">
                <h3 class="manage__content-title sub-title">THÊM MỚI ỦNG HỘ</h3>

                <form [formGroup]="addForm" (ngSubmit)="AddUngho()" class="manage__form">
                    <div class="manage__form-box">
                        <div class="manage__form-group" [ngClass]="{'has-error':submitAdd&&formControlAdd.ten.errors}">
                            <span class="manage__form-title">Tên người ủng hộ</span>

                            <input type="text" formControlName="ten" class="manage__form-input">

                            <div class="manage__error" *ngIf="submitAdd&&formControlAdd.ten.errors">
                                <p class="err" *ngIf="formControlAdd.ten.errors">Vui lòng nhập tên người ủng hộ!</p>
                            </div>
                        </div>

                        <div class="manage__form-group" [ngClass]="{'has-error':submitAdd&&formControlAdd.diachi.errors}">
                            <span class="manage__form-title">Địa chỉ</span>

                            <input type="text" formControlName="diachi" class="manage__form-input">

                        </div>

                        <div class="manage__form-group" [ngClass]="{'has-error':submitAdd&&formControlAdd.sodienthoai.errors}">
                            <span class="manage__form-title">Số điện thoại</span>

                            <input type="text" formControlName="sodienthoai" class="manage__form-input">

                        </div>

                        <div class="manage__form-group" [ngClass]="{'has-error':submitAdd&&formControlAdd.sotien.errors}">
                            <span class="manage__form-title">Số tiền</span>

                            <input type="text" formControlName="sotien" class="manage__form-input">

                        </div>

                        <div class="manage__form-group" [ngClass]="{'has-error':submitAdd&&formControlAdd.mota.errors}">
                            <span class="manage__form-title">Mô tả</span>

                            <input type="text" formControlName="mota" class="manage__form-input">

                        </div>

                        <div class="manage__form-group" [ngClass]="{'has-error':submitAdd&&formControlAdd.ngay.errors}">
                            <span class="manage__form-title">Ngày ủng hộ</span>

                            <input type="date" class="manage__form-input" formControlName="ngay">

                            <div class="manage__error" *ngIf="submitAdd&&formControlAdd.ngay.errors">
                                <p class="err" *ngIf="formControlAdd.ngay.errors">Vui lòng chọn ngày!</p>
                            </div>

                        </div>

                        <div class="manage__form-group" [ngClass]="{'has-error':submitAdd&&formControlAdd.hinhthuc.errors}">
                            <span class="manage__form-title">Hình thức ủng hộ</span>
                            <div class="select-box">
                                <span class="select-icon"><i class="fas fa-sort-down"></i></span>

                                <select name="hinhthuc" id="hinhthuc" formControlName="hinhthuc" class="manage__form-select">
                                    <option value="">- Chọn Hình thức -</option>
                                    <option *ngFor="let hinhthuc of hinhthuc" value="{{hinhthuc._id}}">{{hinhthuc.htuh_ten}}</option>
                                </select>
                            </div>

                            <div class="manage__error" *ngIf="submitAdd&&formControlAdd.hinhthuc.errors">
                                <p class="err" *ngIf="formControlAdd.hinhthuc.errors">Vui lòng chọn Hình thức!</p>
                            </div>
                        </div>
                    </div>



                    <div class="manage__btn-group">
                        <button class="btn-item submit" type="submit">THÊM</button>

                        <button class="btn-item btn-back" (click)="BackList()">QUAY LẠI</button>
                    </div>
                </form>

            </div>
            <!----------------------------------------------End ADD GIONG------------------------------------------------>

            <!----------------------------------------------EDIT GIONG---------------------------------------------------->
            <div class="edit-ungho" *ngIf="is_edit">
                <h3 class="manage__content-title sub-title">EDIT ỦNG HỘ</h3>

                <form [formGroup]="editForm" (ngSubmit)="EditUngho()" class="manage__form">
                    <div class="manage__form-box">
                        <div class="manage__form-group" [ngClass]="{'has-error':submitEdit&&formControlEdit.ten.errors}">
                            <span class="manage__form-title">Tên người ủng hộ</span>

                            <input type="text" formControlName="ten" class="manage__form-input">

                            <div class="manage__error" *ngIf="submitEdit&&formControlEdit.ten.errors">
                                <p class="err" *ngIf="formControlEdit.ten.errors">Vui lòng nhập tên người ủng hộ!</p>
                            </div>
                        </div>

                        <div class="manage__form-group" [ngClass]="{'has-error':submitEdit&&formControlEdit.diachi.errors}">
                            <span class="manage__form-title">Địa chỉ</span>

                            <input type="text" formControlName="diachi" class="manage__form-input">

                        </div>

                        <div class="manage__form-group" [ngClass]="{'has-error':submitEdit&&formControlEdit.sodienthoai.errors}">
                            <span class="manage__form-title">Số điện thoại</span>

                            <input type="text" formControlName="sodienthoai" class="manage__form-input">

                        </div>

                        <div class="manage__form-group" [ngClass]="{'has-error':submitEdit&&formControlEdit.sotien.errors}">
                            <span class="manage__form-title">Số tiền</span>

                            <input type="text" formControlName="sotien" class="manage__form-input">

                        </div>

                        <div class="manage__form-group" [ngClass]="{'has-error':submitEdit&&formControlEdit.mota.errors}">
                            <span class="manage__form-title">Mô tả</span>

                            <input type="text" formControlName="mota" class="manage__form-input">

                        </div>

                        <div class="manage__form-group" [ngClass]="{'has-error':submitEdit&&formControlEdit.ngay.errors}">
                            <span class="manage__form-title">Ngày ủng hộ</span>

                            <input type="date" class="manage__form-input" formControlName="ngay">

                            <div class="manage__error" *ngIf="submitEdit&&formControlEdit.ngay.errors">
                                <p class="err" *ngIf="formControlEdit.ngay.errors">Vui lòng chọn ngày!</p>
                            </div>

                        </div>

                        <div class="manage__form-group" [ngClass]="{'has-error':submitEdit&&formControlEdit.hinhthuc.errors}">
                            <span class="manage__form-title">Hình thức ủng hộ</span>
                            <div class="select-box">
                                <span class="select-icon"><i class="fas fa-sort-down"></i></span>

                                <select name="hinhthuc" id="hinhthuc" formControlName="hinhthuc" class="manage__form-select">
                                    <option value="">- Chọn Hình thức -</option>
                                    <option *ngFor="let hinhthuc of hinhthuc" value="{{hinhthuc._id}}">{{hinhthuc.htuh_ten}}</option>
                                </select>
                            </div>

                            <div class="manage__error" *ngIf="submitEdit&&formControlEdit.hinhthuc.errors">
                                <p class="err" *ngIf="formControlEdit.hinhthuc.errors">Vui lòng chọn Hình thức!</p>
                            </div>
                        </div>
                    </div>



                    <div class="manage__btn-group">
                        <button class="btn-item submit" type="submit">CHỈNH SỬA</button>

                        <button class="btn-item btn-back" type="button" (click)="BackList()">QUAY LẠI</button>
                    </div>
                </form>

            </div>
            <!----------------------------------------------End EDIT GIONG------------------------------------------------>

        </div>



    </div>
    <div class="manage__popup" id="popup">
        <div class="manage__popup-container">
            <!--------------------------------CONFIRM POP UP---------------------------->
            <div class="manage__popup-content popup-content confirm" *ngIf="is_confirm">
                <span class="manage__popup-exit" (click)="exitPopup()"><i class="fas fa-times"></i></span>

                <div class="manage__popup-icon"><i class="far fa-times-circle"></i></div>

                <div class="manage__popup-title">Are you sure?</div>

                <div class="manage__popup-text">Do you really want to delete. This process cannot be undone.</div>

                <div class="manage__popup-btn-group">
                    <button class="btn-popup popup-btn-delete" (click)="deleteUngho()">Delete</button>
                    <button class="btn-popup popup-btn-cancle" (click)="exitPopup()">Cancle</button>
                </div>
            </div>
            <!-----------------------------------END CONFIRM POPUP----------------------------->

            <!-----------------------------------SUCCESS POPUP----------------------------------->
            <div class="manage__popup-content popup-content popup-success" *ngIf="is_success">
                <span class="manage__popup-exit" (click)="exitPopup()"><i class="fas fa-times"></i></span>

                <div class="manage__popup-icon icon-success"><i class="far fa-check-circle"></i></div>

                <div class="manage__popup-title">SUCCESS</div>

                <div class="manage__popup-text">
                    <span class="success" *ngIf="is_success_add">Thêm mới </span>
                    <span class="success" *ngIf="is_success_edit">Chỉnh sửa </span>
                    <span class="success" *ngIf="is_success_delete">Xóa </span> Ủng hộ Thành công
                </div>

                <div class="manage__popup-btn-success">
                    <button class="btn-popup popup-btn-success" (click)="okclick()">OK</button>
                </div>
            </div>
            <!------------------------------------END SUCCESS POPUP--------------------------------->
        </div>
    </div>
</section>